!!!
%html
  %head
    %title
      Evergreen Pusher Service
  %body
    .container
      .row
        %center
          %h1
            Evergreen Pusher Service
      .row
        .col-lg-12
          %strong
            Connections
          %table{:border => 1}
            %tr
              %th
                Obiect
              %th
                ID
              %th
                Last Connected
              %th
                Closed?
              %th
                JSON
            - connections.each_value do |c|
              %tr
                %td
                  = c.object_id
                %td
                  = c.id
                %td
                  = c.last_connected_at?
                %td
                  = c.closed?
                %td
                  %details
                    %pre
                      %code
                        = c.to_json(nil)

