!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => ENV['ASSETS_ENDPOINT'] + '/css/bootstrap.min.css'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/jquery.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/popper.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/bootstrap.min.js'}
    %title
      Evergreen Pusher Service
  %body
    .container
      .row
        .col-lg-12
          %h1
            Evergreen Pusher Service
      .row
        .col-lg-12
          %h4
            Active Connections
          %table.table
            %tr
              %th
                Actions
              %th
                Obiect
              %th
                ID
              %th
                Last Connected
              %th
                Closed?
            - connections.each_value do |c|
              %tr
                %td
                  %form{:method => :POST, :action => "/sse/ping/#{c.id}"}
                    %button.btn.btn-info{:type => :submit}
                      Ping
                %td
                  = c.object_id
                %td
                  = c.id
                %td
                  = c.last_connected_at?
                %td
                  = c.closed?
