<!DOCTYPE html>
<html>
  <head>
      <title>Welcome to Evergreen</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="container">
        <h2 class="center-text"><em class="text-success">Evergreen</em>, the automatically self-updating Jenkins distribution</h2>

        <div class="container clients">
            <h3>
                Instances
            </h3>
            <div>
                <%= instances[0].get('num_instances') %> total
            </div>
            <div>
                <%= connections %> actively connected
            </div>
        </div>

        <div class="container updates">
            <h3>
                Latest Update Levels
            </h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Commit
                        </th>
                        <th>
                            Distribution Channel
                        </th>
                        <th>
                            Update Manifest
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% updates.forEach((update) => { %>
                        <tr>
                            <td align="center">
                              <%= update.id %>
                            </td>
                            <td align="center">
                                <% if (update.tainted) { %>
                                    <div class="alert alert-danger" role="alert">
                                        tainted
                                    </div>
                                <% } else { %>
                                    <div class="alert alert-success" role="alert">
                                        available
                                    </div>
                                <% } %>
                            </td>
                            <td align="center">
                                <%= update.createdAt %>
                            </td>
                            <td>
                                <a href="https://github.com/jenkins-infra/evergreen/blob/<%= update.commit %>/services/essentials.yaml" target="_blank">
                                <%= update.commit %>
                                </a>
                            </td>
                            <td align="center">
                                <%= update.channel %>
                            </td>
                            <td>
                                <textarea readonly cols="80" rows="4"><%= JSON.stringify(update.manifest) %></textarea>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>
    <div class="container">
        <footer>
            <p class="center-text">For more information on Evergreen see <a href="https://github.com/jenkins-infra/evergreen" title="Evergreen on GitHub" target="_blank">jenkins-infra/evergreen</a>.</p>
        </footer>
    </div>
  </body>
</html>
<!-- vim: set ft=html -->
